---
import PrefetchLinks from "@/components/PrefetchLinks.astro";
import PushSharePopup from "@/components/ui/PushSharePopup.astro";
import TopBar from "@/components/ui/TopBar.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { PageViewAnimation } from "@/utils/ViewAnimation";
import Image from "astro/components/Image.astro";
---

<PageLayout
	title="WhiteboardScanner"
	pageID="pushSharePage"
	viewAnimation={PageViewAnimation}
>
	<!--<PrefetchLinks urls={["/", "/editor"]} /> -->
	<TopBar>
		<div id="labelBox" class="hidden">
			<p>PushShare von <span id="senderNameLabel">PhiMai</span></p>
			<div>
				<span id="date">
					<i class="fa-regular fa-clock"></i><div id="dateLabel">
						17:36 Uhr
					</div>
				</span>
				<span id="fileName">
					<i class="fa-solid fa-image"></i><div id="fileNameLabel">
						IMG_0543455434.png
					</div>
				</span>
			</div>
		</div>
		<i
			style="margin-left: auto"
			class="fa-solid fa-arrow-up-from-bracket rounded"
			id="shareBtn"
		>
		</i>
		<a onclick="history.back()">
			<i class="fa-solid fa-xmark closeBtn"></i>
		</a>
	</TopBar>
	<div id="canvasContainer">
		<div id="stateLabel">Wird geladen...</div>
		<!--<img src="/bertie.jpg" alt="bild" />-->
	</div>
</PageLayout>

<script>
	import { createInitSwapFunction } from "@/utils/InitSwapFunction";
	import {
		PUSH_SHARE_UPLOAD_STATE,
		pushShareUploadState,
		pushShareUUID,
		pushShareRecievers,
		storedExtractCanvas,
		storedDeviceUUID,
	} from "@/stores/store";
	import { getLocalTimestamp } from "@/utils/utils";
	import { flipCanvas, loadImageEditor } from "@/utils/EditorScript";
	import { v4 as uuidv4 } from "uuid";
	import { navigate } from "astro:transitions/client";

	createInitSwapFunction(() => {
		/*const extractCanvas = storedExtractCanvas.get();
		if (!extractCanvas) {
			//navigate("/", { history: "replace" });
			//navigate("/editor", { history: "replace" });
			console.warn("SHOULD NAVIGATE");
			return;
		}*/

		const stateLabel = document.getElementById("stateLabel");
		if (!stateLabel) return;

		const urlSearchParams = new URLSearchParams(window.location.search);
		const params = Object.fromEntries(urlSearchParams.entries());

		const pushshare_uuid = params.uuid;
		if (!pushshare_uuid) {
			console.error("PUSH SHARE UUID IS NONE");
			stateLabel.textContent = "ERROR: PUSH SHARE UUID IS NONE";
			return;
		}

		storedDeviceUUID.subscribe((value, oldValue) => {
			console.log("GRÜZI");
			if (value !== null) {
				console.warn("LOAD IMG", value);
				loadImage();
			}
		});

		function loadImage() {
			const device_uuid = storedDeviceUUID.get();
			const stateLabel = document.getElementById("stateLabel");
			if (!stateLabel) return;

			const IMG = new Image();
			IMG.src = `https://api.astrowhiteboardscanner.zorrle001.dev/push-share/${pushshare_uuid}/${device_uuid}`;
			console.log(
				`https://api.astrowhiteboardscanner.zorrle001.dev/push-share/${pushshare_uuid}/${device_uuid}`,
			);

			IMG.onload = () => {
				document.getElementById("canvasContainer")?.append(IMG);
			};
			IMG.onerror = (e) => {
				console.error("Imgage loading ERROR:", e);
				/*stateLabel.innerText =
					"FEHLER: Das Bild konnte nicht geladen werden...";*/
			};

			window.sendSocketRequest(
				{
					id: "GET_PUSH_SHARE",
					pushshare_uuid,
					device_uuid,
				},
				(response: any) => {
					console.log("RESPONSE", response);
					if (response.error && response.error === true) {
						stateLabel.innerText = "FEHLER: " + response.info;
						return;
					}

					const { fileName, sender_name, timestamp } = response;
					/*fileName: "Scan 2026-01-02_00-56-27.png";
					id: "GET_PUSH_SHARE_RES";
					pushshare_uuid: "fed3a3d3-941b-46a6-b9f5-4bdeed94427a";
					requestUUID: "10b35b1f-dec4-430a-8f80-ee7247bf8a9b";
					sender_name: "Kinky Scent403";
					sender_uuid: "752eca78-6f4c-4c3c-832d-6e89cd5ec279";
					timestamp: "2026-01-01 23:56:28";
					uploading: false;*/

					const date = new Date(timestamp);
					console.log(date);

					const senderNameLabel =
						document.getElementById("senderNameLabel");
					const fileNameLabel =
						document.getElementById("fileNameLabel");
					const dateLabel = document.getElementById("dateLabel");
					const labelBox = document.getElementById("labelBox");
					if (
						!senderNameLabel ||
						!fileNameLabel ||
						!dateLabel ||
						!labelBox
					)
						return;

					senderNameLabel.textContent = sender_name;
					fileNameLabel.textContent = fileName;
					dateLabel.textContent = `${date.getHours()}:${date.getMinutes()}`;
					labelBox.classList.remove("hidden");

					const shareBtn = document.getElementById("shareBtn");
					if (!shareBtn) return;

					shareBtn.onclick = async () => {
						try {
							const res = await fetch(
								`https://api.astrowhiteboardscanner.zorrle001.dev/push-share/${pushshare_uuid}/${device_uuid}`,
							);
							if (!res.ok) throw new Error(`HTTP ${res.status}`);

							const blob = await res.blob();
							const type = blob.type || "image/png";

							const file = new File([blob], fileName, {
								type,
								lastModified: new Date(timestamp).getTime(),
							});

							navigator
								.share({
									files: [file],
								})
								.catch((e) => {
									console.error("SHARE ERROR", e);
									alert(
										"Fehler: Das Bild konnte nicht geteilt werden. navigator.share() hat einen Fehler zurückgegeben.",
									);
								});
						} catch (e) {
							console.error("CATCH", e);
							alert(
								"Fehler: Das Bild konnte nicht geteilt werden. Überprüfe ob du mit https:// verbunden bist.",
							);
						}
					};

					/*shareBtn.onclick = async () => {
						try {
							console.log("SHARE");
							//const data = extractCanvas.toDataURL("image/png");
							const blob = await new Promise<Blob | null>(
								(resolve, reject) => {
									extractCanvas.toBlob((blob) => {
										if (blob) resolve(blob);
										else
											reject(
												new Error(
													"toBlob() returned null"
												)
											);
									}, "image/png");
								}
							);

							console.log("BLOb FEDDISCH", blob === null);

							if (blob === null) {
								alert(
									"Ein Fehler beim konvertieren ist aufgetreten!"
								);
								return;
							}

							let timestamp = getLocalTimestamp();
							let fileName = "Scan " + timestamp + ".png";

							// Create a File object
							const file = new File([blob], "Hallo.png", {
								type: "image/png",
							});

							navigator
								.share({
									files: [file],
								})
								.catch((e) => {
									console.error("SHARE ERROR", e);
									alert(
										"Fehler: Das Bild konnte nicht geteilt werden. navigator.share() hat einen Fehler zurückgegeben."
									);
								});
						} catch (e) {
							console.error("CATCH", e);
							alert(
								"Fehler: Das Bild konnte nicht geteilt werden. Überprüfe ob du mit https:// verbunden bist."
							);
						}
					};*/
				},
			);
		}
	}, "/push-share");
</script>

<style lang="scss" is:global>
	#pushSharePage #topBar {
		#labelBox {
			display: flex;
			flex-direction: column;

			width: max-content;

			&.hidden {
				visibility: hidden;
			}

			> p {
				display: flex;
				gap: 0.5rem;
				font-size: 1.35rem;
				margin-bottom: 0.1rem;

				> span {
					color: orange;
				}
			}

			> div {
				display: flex;
				gap: 0.5rem;
			}

			> span,
			> div > span {
				color: darken(white, 30%);
				font-size: 1rem;
				display: flex;
				align-items: center;
				gap: 0.25rem;
			}
		}
	}

	#pushSharePage #canvasContainer {
		position: relative;
		width: 100%;
		height: 100%;

		container: canvasContainer / size;

		display: flex;
		align-items: center;
		justify-content: center;

		> canvas,
		> img {
			position: absolute;
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}

		&:has(> canvas) #stateLabel,
		&:has(> img) #stateLabel {
			display: none;
		}
	}
</style>
